extends layout.pug 

block content 
    .content 

        .content_r 
          p This app allows to add , remove and update the film reviews created by the users.
          p "This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service by 00013664"
          a.btn(href ='/create') Create film review

        .content_l
          img(src="/static/review1.jpg", alt="image")
