doctype html
html(lang="en")
  head
    title  Reviews
    link(rel="stylesheet", href="/static/styles.css")
  body 
    header.navbar 
      h1
        a(href='/') Reviews

      nav.nav 
        a(href='/') Home 
        a(href='/create') New Review
        a(href='/films') All reviews

        

        
    block content
    script(src="/static/javascript.js")  

